ALTER TABLE public.anonymoususers ALTER COLUMN lastlogin SET DEFAULT current_timestamp(3);
ALTER TABLE public.emails ALTER COLUMN importance SET DEFAULT 1;
ALTER TABLE public.emails ALTER COLUMN description SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN message SET DEFAULT '';
ALTER TABLE public.forumgroups ALTER COLUMN sortorder SET DEFAULT 0;
ALTER TABLE public.forums ALTER COLUMN parentid SET DEFAULT 0;
ALTER TABLE public.forums ALTER COLUMN datecreated SET DEFAULT current_timestamp(3);
ALTER TABLE public.forums ALTER COLUMN moderated SET DEFAULT 0;
ALTER TABLE public.forumgroups ALTER COLUMN daystoview SET DEFAULT 30;
ALTER TABLE public.anonymoususers ALTER COLUMN active SET DEFAULT 1;
ALTER TABLE public.anonymoususers ALTER COLUMN sortorder SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN totalposts SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN totalthreads SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN mostrecentpostid SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN mostrecentthreadid SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN mostrecentpostauthor SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN displaymask SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN markreadafter SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN lastactivity SET DEFAULT current_timestamp(3);
ALTER TABLE public.moderators ALTER COLUMN datecreated SET DEFAULT current_timestamp(3);
ALTER TABLE public.moderators ALTER COLUMN emailnotification SET DEFAULT 0;
ALTER TABLE public.posts ALTER COLUMN threadid SET DEFAULT 0;
ALTER TABLE public.posts ALTER COLUMN parentid SET DEFAULT 0;
ALTER TABLE public.posts ALTER COLUMN postlevel SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN sortorder SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN postdate SET DEFAULT current_timestamp(3);
ALTER TABLE public.forumsread ALTER COLUMN approved SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN forumid SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN threaddate SET DEFAULT current_timestamp(3);
ALTER TABLE public.forumsread ALTER COLUMN totalviews SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN islocked SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN ispinned SET DEFAULT 0;
ALTER TABLE public.forumsread ALTER COLUMN posttype SET DEFAULT 0;
ALTER TABLE public.postsread ALTER COLUMN hasread SET DEFAULT 1;
ALTER TABLE public.threadtrackings ALTER COLUMN datecreated SET DEFAULT current_timestamp(3);
ALTER TABLE public.users ALTER COLUMN forumview SET DEFAULT 2;
ALTER TABLE public.userroles ALTER COLUMN profileapproved SET DEFAULT 1;
ALTER TABLE public.postsread ALTER COLUMN approved SET DEFAULT 1;
ALTER TABLE public.postsread ALTER COLUMN trusted SET DEFAULT 0;
ALTER TABLE public.postsread ALTER COLUMN fakeemail SET DEFAULT '';
ALTER TABLE public.postsread ALTER COLUMN url SET DEFAULT '';
ALTER TABLE public.postsread ALTER COLUMN signature SET DEFAULT '';
ALTER TABLE public.postsread ALTER COLUMN datecreated SET DEFAULT current_timestamp(3);
ALTER TABLE public.postsread ALTER COLUMN trackyourposts SET DEFAULT 0;
ALTER TABLE public.postsread ALTER COLUMN lastlogin SET DEFAULT current_timestamp(3);
ALTER TABLE public.postsread ALTER COLUMN lastactivity SET DEFAULT current_timestamp(3);
ALTER TABLE public.postsread ALTER COLUMN timezone SET DEFAULT (-5);
ALTER TABLE public.postsread ALTER COLUMN location SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN occupation SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN interests SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN msn SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN yahoo SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN aim SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN icq SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN totalposts SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN hasavatar SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN showunreadtopicsonly SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN style SET DEFAULT N'default';
ALTER TABLE public.anonymoususers ALTER COLUMN showavatar SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN dateformat SET DEFAULT N'MM-dd-yyyy';
ALTER TABLE public.anonymoususers ALTER COLUMN postvieworder SET DEFAULT 0;
ALTER TABLE public.anonymoususers ALTER COLUMN flatview SET DEFAULT 1;
ALTER TABLE public.anonymoususers ALTER COLUMN displayinmemberlist SET DEFAULT 1;
ALTER TABLE public.anonymoususers ALTER COLUMN avatarurl SET DEFAULT '';
ALTER TABLE public.anonymoususers ALTER COLUMN avatartype SET DEFAULT 1;
ALTER TABLE public.anonymoususers ALTER COLUMN attributes SET DEFAULT 0;